= jquery_block_tag(validate_js('truth_title','VAL && VAL.length < 3','Title must have at least 3 characters.') + validate_js('truth_body','VAL && VAL.length < 10','Truth must have at least 10 characters.') + validate_js('truth_title','!VAL','Truth must have a title.') + validate_js('truth_body','!VAL','Truth cannot be blank.'))

.container

  %head
    %meta{'http-equiv' => 'Content-Type', :content => 'text/html;charset=utf-8'}
    %meta{'name' => 'description', 'content' => 'answer question about whether to attend law school or take lsat, truth about law school and lawyers'}
    %meta{'name' => 'keywords', 'content' => 'law school, lsat, lawyers, characteristics of laywers, truth about lawyers, considering law school, reasons to attend law school, should go to law school'}

  .introduction People often apply to law school without fully understanding what it means to attend law school or to be a lawyer and without fully knowing themselves and what they want. This website can't help with the personal issues, but it can, with your contribution, help educate potential law students about the decision to attend law school. This website is intended to be a source of information to help those potential law student understand as much as possible about law school and being a lawyer, so they can make an educated decision about whether to apply and what to do after. Please help by contributing truths or voting up the most useful ones.


  .left_col

    .col_title
      Truths About Law School

    - counter = 0

    - @truths.each do |truth|
      - counter = counter + 1
      - row_id = "counter" + counter.to_s

      %article.each_row{:id => row_id}
      
        .details
        
          .rankings= counter

          .votes= link_to "- Vote (" + truth.votes.to_s + ")", add_vote_truth_path(truth)
          .comments= link_to "- Comments", truth_path(truth)

        .truth_section
        
          .truth_title= truth.title

          .truth_author.small_links
            - if !truth.author_name.nil?
              = "By " + truth.author_name.to_s
            - else
              = "By Anonymous"
          
          .truth_body= truth.body
    %br

  .right_col
  
    .col_title
      Contribute A Truth About Law School

    = form_for(@truth) do |f|
      = render 'form', {:f => f}
      #recaptcha_title
        Prove you're a human and not spam please:
      #recaptcha_box
        = recaptcha_tags
      #form_button.fieldset
        = f.submit

  .notice_column
    = notice