%div.container

  %div.header

    %head
      %meta{'http-equiv' => 'Content-Type', :content => 'text/html;charset=utf-8'}
      %meta{'name' => 'description', 'content' => 'answer question about whether to attend law school or take lsat, truth about law school and lawyers'}
      %meta{'name' => 'keywords', 'content' => 'law school, lsat, lawyers, characteristics of laywers, truth about lawyers, considering law school, reasons to attend law school, should go to law school'}

    %title The Truth About Law School

  %div.top10list

    %p People decide to go to law school without being fully-informed. The goal of this website is not to discourage you from attending law school. The goal is to inform you about being a lawyer, so you can make the decision that is best for you. I wish someone had told me these things before I went to law school. Here are the top ten reasons not to go to law school. If you have better reasons to go, then go for it!

    %p If it's too late and you're in law school or a lawyer, it isn't too late to change your mind! Lawyers can transfer out! They learn lots of useful skills from being a lawyer: organization, attention to detail, management, advocacy, sales, research, writing, problem solving, among many other things.

    %br
    %br

    %table.truth_table
      - counter = 0
      - @truths.each do |truth|
        - counter = counter + 1
        - row_id = "counter" + counter.to_s
        %tr{:id => row_id}
          %td#first_column_cell
            %table#first_column_table
              %tr
                %td
              %tr
                %td.truth_numbers= counter
              %tr
                %td.layout2
              %tr
                %td#vote.small_links= "Vote Up"
              %tr
                %td#comments.small_links= "Comments"
                
          %td#second_column_cell
            %table#second_column_table
              %tr
                %td
              %tr
                %td.truth_title= truth.title
              %tr
                %td#truth_author.small_links
                  - if !truth.author_name.nil?
                    = "By " + truth.author_name.to_s
              %tr
                %td.truth_body= truth.body

  %div.secondary_col

    %p link to comments
    %br

    %p= link_to "Search or contribute to our database of legal career experiences", "http://www.google.com"
    %br

    %p If you (1) want to be a lawyer, (2) have a clear understanding of what kind of law you want to practice, (3) have a clear understanding of what the experiences is in that practice, (4) are pretty sure you can get a job practicing that kind of law, and (5) understand what it means to be a lawyer (see left side of page), then GO FOR IT!
    %br

    %p If you're considering going to law school and you have questions or want to contact me for any reason, use this form.  (Free free to use a fake name.  I may post the question if the answer might be of interest to other people.)
    %p Link to contact me
    %p Read about x: link to my blog

    %p Question or Comment:

    = link_to 'New Truth', new_truth_path
    
    %p This is for ideas for the webpage: https://docs.google.com/Doc?docid=0AS1eJswe96AVZGQ2cnQ2azNfNjBrbWpmdHBkMw&hl=en
    %ul
    %li make it look like a brief
    